{% extends "site_base.html" %}

{% block judge_active %}active{% endblock %}
{% block head_extra %}
	<link rel="stylesheet" href="{{ STATIC_URL }}judge.css">
{% endblock %}

{% block submenu %}
	<nav class="sub">
        <ul class="body">
            <li class="{% block judge_problems_list_active %}{% endblock %}"><a href="#">문제 목록</a></li>
            <li class="{% block judge_problems_search_active %}{% endblock %}"><a href="#">문제 찾기</a></li>
            <li class="{% block judge_submissions_active %}{% endblock %}"><a href="#">최근 제출</a></li>
            <li class="{% block judge_contest_active %}{% endblock %}"><a href="#">대회</a></li>
            <li class="{% block judge_stats_active %}{% endblock %}"><a href="#">통계 및 랭킹</a></li>
            <li><a href="#">도움말</a></li>
        </ul>
	</nav>
{% endblock %}

