{% extends "base.html" %}

{% block judge_problems_list_active %}active{% endblock %}

{% block pagetitle %}
문제 목록 보기
{% endblock %}

{% block body %}

{% load pagination %}
<div class="pagination">
	{% paginate page %}
</div>

{% load judge %}
<table class="problem_list">
	<thead>
		<tr>
			<th class="ac">AC?</th>
			<th class="class">ID</th>
			<th class="name">이름</th>
			<th class="submissions">제출횟수</th>
			<th class="accepted">정답비율</th>
			<th class="source">출처</th>
		</tr>
	</thead>
	<tbody>
		{% for problem in page.object_list %}
		<tr>
			<td class="ac"></td>
			<td class="id"><a href="#">{{ problem.key }}</a></td>
			<td class="name"><a href="#">{{ problem.name }}</a></td>
			<td class="submissions">{{ problem.submissions }}</td>
			<td class="accepted"><a href="#">{% ac_ratio problem %}</a></td>
			<td class="source"><a href="#">{{ problem.source }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="pagination">
	{% paginate page %}
</div>

{% endblock %}
