{% extends "base.html" %}

{% block judge_problems_list_active %}active{% endblock %}

{% block pagetitle %}
문제 목록 보기
{% endblock %}

{% block body %}

{% load pagination %}
<div class="pagination">
	{% paginate page %}
</div>

<table class="problem_list">
	<thead>
		<th>AC?</th>
		<th>ID</th>
		<th>이름</th>
		<th>정답/제출횟수</th>
	</thead>
	<tbody>
		{% for problem in page.object_list %}
		<tr>
			<td></td>
			<td>{{ problem.key }}</td>
			<td>{{ problem.name }}</td>
			<td>{{ problem.accepted }} / {{ problem.submissions }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="pagination">
	{% paginate page %}
</div>

{% endblock %}
